body {
    height: 200%;
    background: border-box linear-gradient(yellow, royalblue);
    font-size: large;
    text-align: center;
    font-family: "Times New Roman", Times, serif, Helvetica, sans-serif;
    border: 20px solid blue;
    border-spacing: 10px;
    margin: 100px;
    
  }

footer {
  font-size: x-large;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: left;
}

:any-link {
  color: aliceblue;
}

img